name: CI and Release
on:
  push:
    branches:
      - main
    # Trigger on version tags
    tags:
      - "v*"
  pull_request:
  merge_group:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      version:
        # Friendly description to be shown in the UI instead of 'name'
        description: "Semver type of new version (major / minor / patch)"
        # Input has to be provided for the workflow to run
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      # Map tags to PR number, main branch, or release tag; skip pushes otherwise.
      image-tag: ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.pull_request.number)
        || (github.ref == 'refs/heads/main' && 'main')
        || (startsWith(github.ref, 'refs/tags/v') && github.ref_name)
        || 'skip' }}

  proto:
    uses: ./.github/workflows/proto.yml

  # branch_name trims ref/heads/ from github.ref to access a clean branch name
  branch_name:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.trim_ref.outputs.branch }}
    steps:
      - name: Trim branch name
        id: trim_ref
        run: |
          echo "branch=$(${${{ github.ref }}:11})" >> $GITHUB_OUTPUT

  # Make a release if this is a manually trigger job, i.e. workflow_dispatch
  release:
    needs: [lint, test, proto, branch_name]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions: "write-all"
    steps:
      - uses: actions/checkout@v5
      - name: Remove existing files
        run: |
          rm -rf /opt/homebrew/bin/gtar
      - name: Version Release
        uses: evstack/.github/.github/actions/version-release@v0.5.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          version-bump: ${{inputs.version}}
          release-branch: ${{needs.branch_name.outputs.branch}}
