---
# This workflow runs tests that require Docker images to be built first
name: Docker E2E Tests
permissions: {}
"on":
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      image-tag:
        description: "Docker image tag to use for tests (e.g., v1.2.3, pr-123, sha-abc123)"
        required: true
        type: string

jobs:
  docker-tests:
    permissions:
      contents: read
    name: Docker E2E Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: set up go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: ./test/docker-e2e/go.mod
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Run Docker E2E Tests
        run: just test-docker-e2e
        env:
          EV_NODE_IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/ev-node-testapp
          EV_NODE_IMAGE_TAG: ${{ inputs.image-tag }}

  docker-upgrade-tests:
    name: Docker Upgrade E2E Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: set up go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: ./test/docker-e2e/go.mod
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Run Docker Upgrade E2E Tests
        run: just test-docker-upgrade-e2e
        env:
          EVM_IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/ev-node-evm
          EVM_NODE_IMAGE_TAG: ${{ inputs.image-tag }}

  test-docker-compat:
    name: Docker Compatibility E2E Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: set up go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: ./test/docker-e2e/go.mod
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Run Docker Compat E2E Tests
        run: just test-docker-compat
        env:
          SEQUENCER_EVM_IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/ev-node-evm
          SEQUENCER_EVM_IMAGE_TAG: main # TODO: set this to the last released tag
          FULLNODE_EVM_IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/ev-node-evm
          FULLNODE_EVM_IMAGE_TAG: ${{ inputs.image-tag }}
