---
# lint runs all linters in this repository
# This workflow is triggered by ci.yml workflow
name: lint
permissions:
  contents: read
"on":
  workflow_call:

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      # This steps sets the GIT_DIFF environment variable to true
      # if files defined in PATTERS changed
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          # This job will pass without running if go.mod, go.sum, and *.go
          # wasn't modified.
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest
          args: --timeout 10m
          github-token: ${{ secrets.github_token }}
        if: env.GIT_DIFF

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          recursive: true
          failure-threshold: error

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.yml
            **/*.yaml
      - uses: evstack/.github/.github/actions/yamllint@v0.5.0
        if: env.GIT_DIFF

  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.md
      - uses: evstack/.github/.github/actions/markdown-lint@v0.5.0
        if: env.GIT_DIFF

  # Checks that the .goreleaser.yaml file is valid
  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            .goreleaser.yaml
            .goreleaser.yml
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: check
        if: env.GIT_DIFF
